<menu>
    <menuitem label='Start here'>
        <menu>
            <menuitem label='Welcome page'>
                <icon>app/images/ico_wellcome.png</icon>
                <action>WelcomeView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Cadastro'>
        <menu>
            <menuitem label='Cadastros de Negócio'>
                <menu>
                    <menuitem label='Lote'>
                        <action>LoteList</action>
                    </menuitem>
                </menu>
            </menuitem>
            <menuitem label='Definições para Processos'>
                <menu>
                    <menuitem label='Tipo de Descarte'>
                        <action>TipoDescarteList</action>
                    </menuitem>
                    <menuitem label='Transportadora'>
                        <action>TransportadoraList</action>
                    </menuitem>
                    <menuitem label='Zona de Atendimento'>
                        <action>ZonaAtendimentoList</action>
                    </menuitem>
                </menu> 
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Processos'>
        <menu>
            <menuitem label='Compra'>
                <action>CompraList</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>