<menu>
    <menuitem label='Start here'>
        <menu>
            <menuitem label='Welcome'>
                <menu>
                    <menuitem label='Welcome page'>
                        <icon>app/images/ico_wellcome.png</icon>
                        <action>WelcomeView</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Cadastros'>
        <menu>
            <menuitem label='Cadastros de Negócio'>
                <menu>
                    <menuitem label='Lote'>
                        <icon></icon>
                        <action>LoteList</action>
                    </menuitem>
                    <menuitem label='Transportadora'>
                        <icon></icon>
                        <action>TransportadoraList</action>
                    </menuitem>
                </menu>
            </menuitem>
            <menuitem label='Definições de Sistema'>
                <menu>
                    <menuitem label='Tipo de Descarte'>
                        <icon></icon>
                        <action>TipoDescarteList</action>
                    </menuitem>
                </menu>
                <menu>  
                </menu>
                <menu>
                    <menuitem label='Zona de Atendimento'>
                        <icon></icon>
                        <action>ZonaAtendimentoList</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>
</menu>