<menu>
    <menuitem label='Controlador de Estoque'>
        <menu>
            <menuitem label='Cancelar Descarte de Lote'>
                <action>CancelarLoteDescarte</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Operador de Armazém'>
        <menu>
            <menuitem label='Cadastro'>
                <menu>
                    <menuitem label='Cadastros de Negócio'>
                        <menu>
                            <menuitem label='Lotes'>
                                <action>LoteList</action>
                            </menuitem>
                            <menuitem label='Transportadoras'>
                                <action>TransportadoraList</action>
                            </menuitem>
                        </menu>
                    </menuitem>
                    <menuitem label='Definições para Processos'>
                        <menu>
                            <menuitem label='Tipos de Descarte'>
                                <action>TipoDescarteList</action>
                            </menuitem>
                            <menuitem label='Zonas de Atendimento'>
                                <action>ZonaAtendimentoList</action>
                            </menuitem>
                        </menu> 
                    </menuitem>
                </menu>
            </menuitem>
            <menuitem label='Processos'>
                <menu>
                    <menuitem label='Compras'>
                        <action>CompraList</action>
                    </menuitem>
                    <menuitem label='Entregas'>
                        <action>EntregaList</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>
</menu>